body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
	border-bottom: 2px solid orange;
  justify-content: center;
}

ol {
	padding-left: 0;
  justify-content: center;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.favorite-btn {
    background-color: rgb(88, 61, 24);
    color: black;
    font-size: 1.5em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    margin: 0.5em;
    cursor: pointer;
}